<div class="blog-title-area">
    <ol class="breadcrumb hidden-xs-down">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Blog</a></li>
        <li class="breadcrumb-item active"><%= blogDetails.title%></li>
    </ol>

    <span class="color-yellow"><a href="#" title=""><%= blogDetails.category%></a></span>

    <h3><%= blogDetails.title%></h3>

    <div class="blog-meta big-meta">
        <small><a href="#" title=""><%= blogDetails.date%></a></small>
        <small><a href="#" title=""><%= blogDetails.author%></a></small>
    </div><!-- end meta -->

   
</div><!-- end title -->